
<h1>Welcome to TinyApp</h1>
<% if(username){%>
    <h2>Hi <%= username %> !!! </h2>

    <form action = "/logout" method = "POST">
    <button type="Submit" value="logout">Logout</button>
    </form>


    <% } else { %>
        <br>
        <a href="/register">Register</a>
        <br> <br>  
        <a href="/login">Login</a>

    <% } %>  
